.login_page{
    display: flex; 
    flex-direction: column;
}

.login_container{

    padding-top:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.login_button{
   padding:5px;
}

.label_text{
    padding: 15px;
}

.button_container{
    padding:10px
}
.login_box{
    padding: 40px;
    border: 2px solid;
}

.error_message{
    color: red;
    padding: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }