img{
    height: 10px;
    width: 10px;
}
.rest_card{
    margin:12px;
    width: 620px;
border-style: solid;
}
.bookmark_button{
    padding: 2px;
display: flex;
flex-direction: row-reverse;
}
.rest_name_remove_container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.suggestion{
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.suggestion:hover{
    background-color: grey;
}
.suggestion_Container{
 max-height: 200px;
overflow:auto;
position: absolute;
z-index: 1;
background-color: azure;
}
.rest_card_container{
    position: fixed;
    height: 80%;width: 100%;
    overflow:auto;  
}
.remove_button{
    height: 30px;
}
.rest_name{
   padding-left:30px
}
.rest_name_delete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}