img{
    height: 10px;
    width: 10px;
}
.rest_card{
    margin:10px;
    height: 100px;
    width: 300px;
border-style: solid;
}
.bookmark_button{
display: flex;
flex-direction: row-reverse;
}
.rest_name_remove_container{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}
.suggestion{
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.suggestion:hover{
    background-color: grey;
}
.suggestion_Container{
    max-height: 200px;
overflow:auto;
position: absolute;
z-index: 1;
background-color: azure;
}
.rest_card_container{
    max-height: 350px;
    overflow:auto;  
}
.remove_button{
    height: 30px;
}
.rest_name{
    width:200px ;
}